body {
    background-color: #555555;
}

#page {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 14px;
    outline: none;
}

#footer-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#footer {
    padding: 5px 10px;
}

.file-group {
    margin: 8px;
    padding: 1px 8px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

#staged {
    background-color: #80B034;
}

#unstaged {
    background-color: #F63124;
}

#untracked {
    background-color: #AAAAAA;
}

.file-container {
    display: inline-block;
}

.file, .arrow, .new-file {
    margin: 2px 2px;
    border-radius: 2px;
    padding: 3px;
    display: inline-block;
}

.file, .new-file {
    background-color: rgba(210, 210, 210, 0.6);
}

.arrow {
    font-size: 24px;
    line-height: 0px;
}

.status-deleted, .status-added, .status-modified {
    font-weight: bold;
    width: 15px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
}

.error-message {
    color: #770000;
    text-align: center;
}
